body {
    font-family: "Raleway", sans-serif;
  }

#Resumen {
    display: flex;
    background-image: url(/assets/imgs/bg-resumen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
#foto {
    width: 200px;
}
